
@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>
<br />
<p>Student First Name: @ViewBag.oneStudent.FirstName</p>
<p>Student Last Name: @ViewBag.oneStudent.LastName</p>
<p>Major: @ViewBag.oneStudent.Major</p>

<br /><br />
<a href="/Student/Index">Go Back to Student List</a>

