
@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<p>Student First Name: @ViewBag.oneStudent.FirstName</p>
<p>Student Last Name: @ViewBag.oneStudent.LastName</p>
<p>Major: @ViewBag.oneStudent.Major</p>

