
@{
    ViewBag.Title = "Index";
}
<br />
<a href="/Student/New/" class="btn btn-default">Generate a New Student</a>

<br /><br />

<h2>Students List</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Major</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var s in ViewBag.studentList)
            {
                <tr>
                    <td><a href="@Url.Action("Details", "Student", new { id=@s.StudentID})">@s.FirstName</a></td>
                    <td>@s.LastName</td>
                    <td>@s.Major</td>
                </tr>
            }
        </tbody>

    </table>
</div>

